Imports for data retrieving and player data

In [1]:
from data_retriever import match_reports, players_with_team_position, score_and_fixtures, file_create
from player_data import PlayerData

Data generation

In [2]:
# for season in range(17, 22):
#     player_info = players_with_team_position(season)
#     file_create(
#         file_details=player_info, 
#         file_name=f"20{season}-20{season + 1} player_info.json", 
#         file_path=f"data/Premier League/player information"
#         )
#     score_and_fixtures(season)
#     match_reports(season)

In [3]:
data = PlayerData(17)

In [4]:
svtn_eightn = data.data_lister(team='Arsenal', gameweek_range=[1, 5])

In [5]:
svtn_eightn["Arsenal"]['player_stats'][['appearances', 'minutes', 'value_change']]

    appearances  minutes  value_change
0             4      225             0
1             0        0             0
2             1       12             0
3             3      241             0
4             4      270            -1
5             2       77             0
6             0        0             0
7             4      328             0
8             0        0             0
9             0        0             0
10            2       59             0
11            4      348             0
12            0        0             0
13            4      360            -1
14            0        0             0
15            0        0             0
16            0        0             0
17            0        0             0
18            2      180             0
19            0        0             0
20            0        0             0
21            4      360             0
22            1       66             0
23            4      360            -1
24            4       94            -1
25            0        0             0
26            4      360             0
27            0        0             0
28            0        0             0
29            2      156            -1
30            3      245             0
31            2      180            -1
32            2       29            -1

In [6]:
svtn_eightn["Arsenal"]['player_stats']['value']

0      70
1       0
2      54
3      60
4     104
5     119
6       0
7      75
8       0
9       0
10     45
11     56
12      0
13     59
14      0
15      0
16      0
17      0
18     60
19      0
20      0
21     95
22     45
23     54
24     84
25      0
26      0
27      0
28      0
29     49
30      0
31     54
32     74
Name: value, dtype: int64